@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #151515d6;
  color: #ffffff;
  font-size: 18px;
}

.container {
  margin: 0 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page-main {
  display: flex;
  gap: 20px;
}

.sidebar {
  display: none;
}

.page-main__hero {
  background-color: #3368b3;
  min-height: 200px;
  border-radius: 10px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.adaptive-text-big {
  font-size: clamp(20px, 5vw, 30px);
  font-weight: bold;
}

.adaptive-text-medium {
  font-size: clamp(13px, 3vw, 20px);
}


.page-main__categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}


.categories__card {
  width: 35vw;
  max-width: 400px;
  min-height: 100px;
  padding: 25px;
  border: 2px solid #aaaaaa;
  background-color: #b33353;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.categories__card:hover {
  background-color: #b33353b2;
}

.categories__card-title {
  color: #ffffff;
  font-weight: bold;
  font-size: clamp(15px, 5vw, 22px);
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #232323;
  border: 2px solid #aaaaaa;
  border-radius: 10px;
}
