* {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #151515;
  color: #ffffff;
  font-size: 18px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #232323;
  border: 2px solid #aaaaaa;
  border-radius: 10px;
  margin-bottom: 50px;
}

.header__nav {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.header__link {
  border: none;
  padding: 13px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.2s ease;
  background-color: #3368b3;
}

.header__link:hover {
  background-color: #3368b3c3;
}

.header__logo {
  font-size: 25px;
  font-weight: bold;
}

.header__link,
.header__logo {
  text-decoration: none;
  color: #ffffff;
}

.hero {
  background-color: #3368b3;
  min-height: 200px;
  border-radius: 10px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.hero__title {
  font-size: clamp(20px, 5vw, 30px);
  font-weight: bold;
}

.hero__subtitle {
  font-size: clamp(13px, 3vw, 20px);
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.category-card {
  width: 35vw;
  max-width: 400px;
  min-height: 100px;
  padding: 25px;
  border: 2px solid #aaaaaa;
  background-color: #b33353;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.category-card:hover {
  background-color: #b33353b2;
}

.category-card__title {
  color: #ffffff;
  font-weight: bold;
  font-size: clamp(15px, 5vw, 22px);
  text-align: center;

}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #232323;
  border: 2px solid #aaaaaa;
  border-radius: 10px;
}
